<app-nav-bar></app-nav-bar>
<br>
<div class="container">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <label for="email">Email</label>
    <input
      type="email"
      id="email"
      name="email"
      required
      formControlName="email"
    />
    <br /><br />

    <label for="parola">Parola</label>
    <input
      type="password"
      id="parola"
      name="parola"
      required
      formControlName="password"
    />
    <br /><br />

    <button type="submit" [disabled]="!loginForm.valid">Submit</button>
  </form>
</div>
