<app-nav-bar></app-nav-bar>
<br>

<div *ngIf="isLoaded && searchForm" class="container">
  <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
    <input type="text" id="search" name="search" placeholder="Search" #filter />
    <button class="primary" type="button" (click)="filterResults(filter.value)">
      Search
    </button>
    <br /><br />

    <mat-form-field>
      <mat-label>Genre</mat-label>
      <mat-select [(value)]="selectedGenre" (valueChange)="filterByGenre(selectedGenre)">
        <mat-option *ngFor="let genre of filteredGenres" [value]="genre">
          {{ genre }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br />
    <label for="slider">Price:</label>
    <br />
    <mat-slider [min]="minPrice" [max]="maxPrice" step="1" discrete [displayWith]="formatLabel"
      (change)="onSliderChange()">
      <!-- {{searchForm.controls['startThumb'].value}}
    {{searchForm.controls['endThumb'].value}} -->
      <input formControlName="startThumb" [value]="minPrice" matSliderStartThumb />
      <input formControlName="endThumb" [value]="maxPrice" matSliderEndThumb />
    </mat-slider>
    <button class="primary" type="button" (click)="ascendingSort()">
      Sort Crescator
    </button>
    <button class="primary" type="button" (click)="descendingSort()">
      Sort Descrescator
    </button>
  </form>

  <button (click)="exportFilteredCSV()">Export CSV Filtrat Boss</button>
  <button (click)="resetFilter()">Reset Filter</button>
</div>
<br />
<app-game-card [cardDataArray]="currentGames"></app-game-card>